h1 {
	margin-bottom: 2rem;
}


a {
	color: #d6e9f9;
}

a:hover {
  color: #cb5920;
  text-decoration: none;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 3px solid #d0e2f1;
}

p {
  text-align: justify;
}

td {
  font-size: 5px;
  padding: 2px;
  text-align: center;
}

table {
  border-collapse: collapse;
  margin-bottom: 1.3em;
  width:80%;
}

.current_tab{font-weight: bold;}

.subdued_text{
  color: #999999;
  margin: 0px 1em 1em 0px;
}

.blank{
  height: 2em;
  clear: both;
}

.label-info {
  background-color: #cee5f8;
}

.label-info[href]:hover {
  background-color: #cb5920;
}

.light {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.regular {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.button{
  background-color:grey;
  color: black;
  font-size:xx-large;

}

@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    padding: 100px;
    background: whitesmoke;
    display: table-cell;
}

button {
    margin: 20px;
}

.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    /* font-family: "paybooc-Light", sans-serif; */
    box-shadow: 0 15px 35px rgba(41, 41, 41, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn-outline {
    position: relative;
    padding: 15px 30px;
    border-radius: 15px;
    /* font-family: "paybooc-Light", sans-serif; */
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn-indigo {
    background-color: rgb(40, 40, 40);
    color: #ffffff;
    font-size: xx-large;
    font-weight: bold;
}

.w-btn-indigo-outline {
    border: 3px solid aliceblue;
    color: #9d9d9d;
}

.w-btn-indigo-outline:hover {
    color: #1e6b7b;
    background: aliceblue;
}
